# Envío de mensajes del formulario de contacto (https://resend.com)
RESEND_API_KEY=
# Casilla que recibe los mensajes
CONTACT_TO=secretaria@fundaciongedyt.org.ar
# Remitente verificado en Resend (ej: "Web Fundación Gedyt <web@fundaciongedyt.org.ar>")
CONTACT_FROM=
